body
{
	background-image: url(../images/5.jpg);
	-webkit-background-size: 100%;
}
h1
{
	text-align:center;
	color:red;
}
h2
{
	text-align:center;
	color:red;
}
a
{
	color:black;
	text-align:center;
	text-decoration:none;
	  padding: 1em;
      background-color: #d0e9f2;
      border-right: 1px solid #b19891;
      color: black;
}




#name
{
	border:3px solid black;
	border-radius:300px;
	background-color:white;
	opacity:0.1;
	margin-left:100px;
	margin-right:100px;

}
#name:hover
{
    transition:0.5s;
	border-radius:300px;
	background-color:white;
	border:3px solid white;
	padding:11px;
	box-shadow:10px 10px 10px black;
	opacity:1;
}
#text
{
	border-radius: 100px;
	border:3px solid black;
	background-color:white;
	opacity:0.1;
	padding:80px;
	margin-left:100px;
	margin-right:100px;
	padding-left:200px;
	padding-right:200px;


}
#text:hover
{
        transition:0.8s;
    	border-radius:110px;
    	background-color:white;
    	border:3px solid white;
    	box-shadow:10px 10px 10px black;
    	opacity:1;
}

h4
{
	text-align:center;

}


 ul {
  padding: 1em 0;
  background: #d0e9f2;
}

 a:hover {
 background: #bcd5dd;
 transition:0.5s;
 }
li {
  display: inline;
}
body
{
    text-align:center;
}
#Lsidebar{
	float:left;
	height:100%;
	width:50px;
	background-color: #d0e9f2;
	margin-left:0;
	margin-top:0;
	margin-right:0;
	opacity:1;


}
#Rsidebar{
	float:right;
	height:100%;
	width:50px;
	background-color: #d0e9f2;
	margin-left:0;
	margin-top:0;
	margin-right:0;
	opacity:1;
}
